<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <div class="flex sb aic">
        <h1>상품 진열 관리</h1>
        <button type="button" class="add_display sbtn">
            <i class="xi-plus"></i>
            진열 추가
        </button>
    </div>

    <ul id="display_items">

    </ul>

    <script type="text/html" id="tpl">
        <table class="table_cols mb30" id="display_[num]">
            <tr>
                <th width="180">진열코드</th>
                <td>
                    [num]
                </td>
            </tr>
            <tr>
                <th>
                    진열 명칭
                    <button type="button" class="sbtn remove_display" data-num="[num]">
                        <i class="xi-minus"> 진열 제거</i>
                    </button>
                </th>
                <td>
                    <input type="hidden" name="num" value="[num]">
                    <input type="text" name="displayName_[num]">
                </td>
            </tr>
            <tr>
                <th>
                    진열상품
                    <button type="button" class="sbtn add_product" data-num="[num]">
                        <i class="xi-plus"></i> 상품선택
                    </button>
                </th>
                <td class="items" id="items_[num]">

                </td>
            </tr>
        </table>
    </script>
</section>
</html>