@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
* { box-sizing: border-box; outline: none; font-family: 'Noto Sans KR', sans-serif; }
html { font-size: 13px; color: #222; }
body { margin: 0; }
ul { list-style: none; margin: 0; padding: 0; }
li { display: block; }
dl { display: flex; width: 100%; margin: 0; align-items: center; }
dt { width: 130px;  }
dd { width: calc(100% - 130px); padding: 0; margin: 0; }
a { color:#222; text-decoration: none; }

/* 여백 공통 */
.mb30 { margin-bottom: 30px; }

.dn { display: none !important; }

/* 팝업 공통 S */
#layer_dim { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.7); cursor: pointer; }
#layer_popup { position: fixed; z-index: 101; background: #fff; border-radius: 5px; overflow: hidden; }
#layer_popup iframe { border: 0; }
/* 팝업 공통 E */